<h4 class="title">Posts page</h4>
<app-my-button (click)="toggleModal()" class="create-btn">Create User</app-my-button>
@if(isOpen){
<app-my-modal (click)="toggleModal()">
    <form (click)="$event.stopPropagation()" class="form" action="">
        <h4>Create new post</h4>
        <input class="input"  type="text" name="name" [(ngModel)]="title" placeholder="Name">
        <input class="input" type="text" name="body" [(ngModel)]="body" placeholder="Description">
        <app-my-button class="form-btn" (click)="createPost($event)" >Create</app-my-button>
    </form>    
</app-my-modal>
}
