.input {
    width: 100%;
    border: 1px solid  teal;
    padding: 10px 15px;
    margin-top: 15px;
}

.app {
    padding: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.btn {
    margin-top: 15px;
    align-self: flex-end;
    padding: 10px;
    background: none;
    color: teal;
    border: 1px solid teal;
}